@use './partials/variables.scss' as *;

@import 'bootstrap/scss/bootstrap.scss';

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss'; 
@import '@fortawesome/fontawesome-free/scss/brands.scss';

*{
  padding:0;
  margin:0;
  box-sizing:border-box
}
h1{
  color: $flame;
}
h2{
  color:$flame;
}
.btn{
  background-color:$flame;
}
.btn:hover{
  background-color: rgb(207, 78, 26);
}
